.scrollComponent{
    display: flex;
    
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

}

.createPostContainer{
    display: flex;
    height: 10svh;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-inline:0.8rem ;
    gap: 1.3rem;
    background-color: snow;
}
.createPostContainer > textarea{
    width:100%;
}
.userProfile{
    border-radius: 100%;
    height: 60%;
}
.Fab{
    background-color: rgb(153, 45, 254);
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;

}
.Fab > svg{
    width: fit-content;
    height: 20px;
    color: white;
}
.textAreaContent{
    width: 80%;
    height: 70%;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}
.uploadButton{
    position: absolute;
    right: 0;
    bottom: -45%;
    background-color: rgb(43, 67, 202);
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
}
.postsContainer{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179,179,179);
}
.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}
.singleCard_profileContainer > img{
    width: 7%;
    border-radius: 50%;
}
.singleCard_image{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;overflow: hidden;

}
.singleCard_image>img{
    width: 100%;
    height: auto;
    object-fit: center;
    border-radius: 20px;
}
.optionsContainer {
    display: flex;
    gap: 1.5rem;
    margin-top: 20px;
    align-items: center;
  }
  
  .singleOption_optionsContainer {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.95rem;
    color: #555;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .heartIcon {
   
    color: #4b5563;  /* gray-600 */
    transition: color 0.3s ease;
  }
  
  .singleOption_optionsContainer:hover .heartIcon {
    color: #ef4444; /* red-500 on hover */
  }
  
  .liked.heartIcon {
    color: #ef4444; /* force red if liked */
  }
  .commentsContainer{
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 90;
      background: rgba(0,0,0,0.7);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .allCommentsContainer{
      width: 40vw;
      height: 80vh;
      background: white;
      border-radius: 10px;
      position: relative;
      padding: 1.4rem;
  }
  .postCommentContainer{
      position: absolute;
      bottom: 1.2rem;
      left: 1.2rem;
      width: 90%;
      display: flex;
      align-items: center;
      gap: 1.2rem;
  }
  .postCommentContainer > input{
      flex: 0.9;
      padding-inline: 1.5rem;
      padding-block: 1.2rem;
      border: none;
      background-color: rgb(228,228,228);
      border-radius: 10px;
  }
  .postCommentContainer_commentBtn{
      flex: 0.1;
      width: fit-content;
      padding: 1.2rem;
      background-color: blueviolet;
      border-radius: 10px;
      border: none;
      color: white;
  }
  .postCommentContainer > input:focus{
      border: 1px solid blueviolet;
  }