.allUserProfile{
    max-width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
}
.userCard{
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    cursor: pointer;
}
.userCard > img{
    height: 8%;
    width:8%;
    border-radius: 50%;
}